.navbar{
    width: 100%;
    height: 5rem;
   display: grid;
   grid-template-columns: 30% 70%;
   align-items: center;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   border-radius:.2rem ;
   gap: 1rem;
}

.menu {
   
display: grid;
grid-template-columns: 17% 20% 15% 18% 10% 10%;
gap: .5rem;
}

.downmenue:hover{
    cursor: pointer;
}

.downmenue:hover .down {
    transform: rotate(180deg);
  }
  @media screen and (max-width:980px){
    .menu{
      display: none;
    }
  }
